.restaurant-valoracion {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;

  &__titulo {
    grid-column: 1 / -1;
  }

  &__data {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
    &-valoracion {
      flex-grow: 1;
    }
  }
}